* {
  black: #292D3E;
  red: #F07178;
  green: #C3E88D;
  yellow: #FFCB6B;
  blue: #82AAFF;
  magenta: #C792EA;
  cyan: #89DDFF;
  white: #D0D0D0;
  black-alt: #434758;
  red-alt: #FF8B92;
  green-alt: #DDFFA7;
  yellow-alt: #FFE585;
  blue-alt: #9CC4FF;
  megenta-alt: #E1ACFF;
  cyan-alt: #A3F7FF;
  white-alt: #FFFFFF;
}
